#statistics {
    margin: 10px 0 20px 0;
    overflow-x: auto;
}

#statistics table {
    min-width: 100%;
    border: 2px solid black;
}

#statistics table td {
    padding: 10px 0;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    vertical-align: middle;
}

#statistics table tbody tr:last-child td {
    border-bottom: none;
}

#statistics table tbody tr td:first-child {
    font-weight: 600;
}

#statistics table tbody tr td:last-child {
    border-right: none;
}